<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Sharing host">
		<setting label="Fshare Account" type="lsep"/>
        <setting label="Use my Fshare" type="bool" id="fshare.enable" default="false"/>
        <setting label="Fshare username" type="text" id="fshare.username" default=""/>
        <setting label="Fshare password" type="text" id="fshare.password" option="hidden"  enable="!eq(-1,)" default=""/>
    </category>
    <category label="Websites Credential">
		<setting label="Fcine.net" type="lsep"/>
        <setting label="Fcine username" type="text" id="fcine.username" default=""/>
        <setting label="Fcine password" type="text" id="fcine.password" option="hidden"  enable="!eq(-1,)" default=""/>

        <setting label="HDvietnam.com" type="lsep"/>
        <setting label="HDvietnam username" type="text" id="hdvietnam.username" default=""/>
        <setting label="HDvietnam password" type="text" id="hdvietnam.password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting label="HDvietnam allows get extra info (slow)" type="bool" id="hdvietnam.extra" default="true"/>

        <setting label="Animehay.tv" type="lsep"/>
        <setting label="Animehay username" type="text" id="animehay.username" default="animehay"/>
        <setting label="Animehay password" type="text" id="animehay.password" option="hidden"  enable="!eq(-1,)" default="123456"/>
    </category>
</settings>
